label {
    color: black;
}

#drawingPanel {
    display: flex;
    width: 20em;
    flex-direction: column;
    align-items: center;
}

#pixels {
    margin-top: 2.5em;
    list-style-type: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-items: center;
}